/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.info-profile {
  /* display: block; */
  align-items:start;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
  overflow: auto;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content-head{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(10px); 
  background-color: rgba(198, 192, 219, 0.445);
  padding: 10px 14px; 
  border-radius: 5px; 
}

.content-head{
background: #11101d;
}

.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content-head .bx-menu,
.home-section .home-content-head .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content-head .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content-head .text{
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

.scale-icon-logo {
    scale: 35%;
}

.scale-icon {
  scale: 110%;
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
  --gradient-border: linear-gradient(-50deg, rgba(2,0,36,1), rgba(93,6,80,1), rgb(6, 0, 61)) 1;
}
* {
  box-sizing: border-box;
}
.body-card-1 {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-card-1 {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image-card-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-card-1 {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card-card-1:hover .wrapper-card-1 {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper-card-1::before,
.wrapper-card-1::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper-card-1::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper-card-1::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card-card-1:hover .wrapper-card-1::before,
.wrapper-card-1::after {
  opacity: 1;
}

.card-card-1:hover .wrapper-card-1::after {
  height: 120px;
}
.title-card-1 {
  width: 100%;
  transition: transform 0.5s;
}
.card-card-1:hover .title-card-1 {
  transform: translate3d(0%, -50px, 100px);
}

.character-card-1 {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card-card-1:hover .character-card-1 {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


.body-unavailable-message {
  background-color: #E4E9F7; /* Cor branca com 70% de opacidade */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unavailable-message {
  background-color: transparent; /* Fundo completamente transparente */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.body-content {
  margin-top: 68px;
}

.logo-beta {
  font-size: 13px;
  font-weight: 450;
}

.body-card2{
	min-height: 100vh;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #008000, #00e600, #b3ffb3, #00e600, #008000);
	font-family: 'Martel Sans', sans-serif;
}

.body-card2 h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}
.body-card2 p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.wrap-card2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 85vmin;
    height: 25em;
    border: 8px solid var(--gradient-border) ;
    margin: 2rem auto;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 20px; /* Adicione essa linha para bordas arredondadas */
}


/* Em seguida, você pode usar a variável onde precisar em seu CSS */
elemento {
  background: var(--meu-gradient);
}


.overlay-card2 {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #1d1b31;
	transition: .4s ease-in-out;
	z-index: 1;
  color: #f9f9f9 ;
}
.overlay-content-card2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#AEA724 5%,
      	forestgreen 35% 65%,
      	#AEA724 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-content-card21 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://th.bing.com/th/id/R.63d50d170e54d2f35d9013d492db7cd8?rik=MM5TlneJkEYm9w&riu=http%3a%2f%2f2.bp.blogspot.com%2f_Dw0tHddWMAw%2fTHiMlwvoHnI%2fAAAAAAAAARo%2fzkvPSjQVlgQ%2fs1600%2fworm-nightcrawler.jpg&ehk=zfHcD9h3wjizMZPmNOKCU%2fKiQO103atCj3GrlkHnaFI%3d&risl=&pid=ImgRaw&r=0");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-card22 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://th.bing.com/th/id/R.e85e29f1940f517fbf606bb8886574c9?rik=JTZVpPd0%2fs%2bchw&riu=http%3a%2f%2f4.bp.blogspot.com%2f-c11_sVraLwg%2fUkuS1IgvbmI%2fAAAAAAAAAJc%2f4du5QTEjuKE%2fs1600%2fIMG_6910_00.jpg&ehk=6ZAVaPx0algu9GzzDrFK%2f1hMgHj1%2bklyTHe7iKcO2hc%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-card23 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://3.bp.blogspot.com/-xjc0LDnyRKs/UXlHgtU8xYI/AAAAAAAAALU/O2_q3ceKF4Y/s1600/4.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-content-card24 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("https://th.bing.com/th/id/R.89cc5c9b26bc7a63af24fff4a8d6ee74?rik=9otRkafZIm2OXQ&pid=ImgRaw&r=0&sres=1&sresct=1");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.dots-card2 {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot-card2 {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
}

.text-card2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

/* Estilos de hover */
.wrap-card2:hover .overlay-card2 {
  transform: translateX(-60vmin);
}

.wrap-card2:hover .image-content-card2 {
  width: 30vmin;
}

.wrap-card2:hover .overlay-content-card2 {
  transition-delay: .2s;
  transform: translateX(60vmin);
}

.wrap-card2:hover .dots-card2 {
  transform: translateX(1rem);
}

.wrap-card2:hover .dots-card2 .dot-card2 {
  background: white;
}

.wrap-card2:hover .overlay-card2 .title-card2 {
  color: #7ea57e00;
}

.wrap-card2:hover .overlay-card2 .subtitle-card2 {
  color: #7ea57e00;
}

/* Estilos de toque para dispositivos móveis */
.wrap-card2.touch .overlay-card2 {
  transform: translateX(-60vmin);
}

.wrap-card2.touch .image-content-card2 {
  width: 30vmin;
}

.wrap-card2.touch .overlay-content-card2 {
  transition-delay: .2s;
  transform: translateX(60vmin);
}

.wrap-card2.touch .dots-card2 {
  transform: translateX(1rem);
}

.wrap-card2.touch .dots-card2 .dot-card2 {
  background: white;
}

.wrap-card2.touch .overlay-card2 .title-card2 {
  display: none;
}

.wrap-card2.touch .overlay-card2 .subtitle-card2 {
  display: none;
}


.subtitle-card2 {
  color: white; 
  margin-bottom: 2.5rem;
}



/* Animations and timing delays */
.animate-card2 {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop-card2 { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide-card2 { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left-card2 { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up-card2 {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
;
